<li id="post-<%= post.id %>">

  <span class="user"><%= @user.first_name %><br></span>
  <span class="content"><%= post.content %></span><br>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>