<% flash.each do |message_type, message| %>

  <% if message_type == "alert" %>
    <div id="flash-alert">
      <%= message %><br>
    </div>
  <% else %>
    <div id="flash">
      <%= message %><br>
    </div>
  <% end %>

<% end %>


