<h1>Users page</h1>

<% @users.each do |user| %>
  <%= link_to "#{user.first_name} #{user.last_name}", user_path(user)  %>
      <% if current_user == user %>
        (can't friend self)
      <% elsif current_user.friends.include?(user) %>
        (already friends)
      <% else %>
        (you can friend!)<%= link_to "Add Friend", friendships_path(:friend_id => user.id), :method => :post %>
      <% end %>
  <hr>
<% end %>

